<h1 class="text-center mb-3">
    منتج جديد  
</h1>

<div class="row">
    <div class="col-6">
        <a href="/items/new">
            <h3 class="bg-gradient-tertiary white p-2 py-4 m-3 text-center">
                ادخال منتج موجود
            </h3>
        </a>
    </div>
    <div class="col-6">
        <a href="/products/new">
            <h3 class="btn-secondary p-2 py-4 m-3 text-center">
                ادخال منتج لأول مرة
            </h3>
        </a>
    </div>
</div>

<div class="container my-2">
  <%= link_to 'الغاء و عودة', root_path, class:"btn btn-secondary" %>
</div>