<h1 class="text-center mb-3">
    إدارة الدرج
</h1>

<div class="row">
    <div class="col-6">
        <a href="/transactions/new?type=increase">
            <i class="fa fa-download big-icon white"></i>
            <h6 class="bg-gradient-tertiary white p-1 py-3 m-2 text-center rounded">
                إيداع في الدرج (صيانة - استثمار - شيء اخر)
            </h6>
        </a>
    </div>

    <div class="col-6">
        <a href="/transactions/new?type=decrease">
            <i class="fa fa-upload big-icon white"></i>
            <h6 class="bg-gradient-secondary white p-1 py-3 m-2 text-center rounded">
                سحب من الدرج (عمالة - كهرباء - ضرايب - شيء اخر)
            </h6>
        </a>
    </div>

    <div class="col-12">
        <a href="/transactions">
            <i class="fa fa-download big-icon white"></i>
            <h6 class="bg-gradient white p-1 py-3 m-2 text-center rounded">
                عرض جميع المعاملات
            </h6>
        </a>
    </div>
</div>

<div class="container my-2">
  <%= link_to 'الغاء و عودة', root_path, class:"btn btn-secondary" %>
</div>